# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Environment variables
.env
!.env.example

# Local Data / DB
*.sqlite3
*.db
/data/

# IDE / Editor files
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
